* {
    box-sizing: border-box !important;
    outline: none !important;
    border: none !important;
    /* transition: .3s !important; */
}


.row {
    width: 100% !important;
}

i {
    color: skyblue;
    transition: .1s;
}


.z-depth-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}





.dprt {
    transform: translate(-5em, -2em) !important;
    background-color: grey !important;
    height: 80px;
    width: 100px;
}


.dprt1 {
    transform: translate(-5em, -2em) !important;
    background-color: grey !important;
    height: 80px;
    width: 100px;
}

.dprt2 {
    transform: translate(-5em, -2em) !important;
    background-color: grey !important;
    height: 80px;
    width: 100px;
}
.dprt3 {
    transform: translate(-5em, -2em) !important;
    background-color: grey !important;

    height: 80px;
    width: 100px;
}

.fa-address-card, .fa-laptop-house, .fa-diagnoses,i {
    font-size: 50px;
    color: lightgray;
}

.dprt:focus {
    background-color: green !important;
        background-color: goldenrod !important;

}
.dprt1:focus{    
    background-color: cornflowerblue !important;


}
.dprt2:focus{    
    background-color: tomato !important;


}
.dprt3:focus{    
    background-color: yellowgreen !important;
} 
.box-1{
    margin-top: 50px !important;
    height: 15vh !important;
    /* margin-left: 20px !important; */
}


@media only screen and (max-width:1370px){
    .fa-address-card, .fa-laptop-house, .fa-diagnoses,.fa-users-class {
        font-size: 40px;
        color: lightgray;
    }

    .box-1{
        max-height: 15vh !important;

    }
    .dprt {
        transform: translate(-6em, -2em) !important;
        background-color: gray !important;
        height: 60px;
        width: 80px;
        position: absolute;
    }   
    
    
    .dprt1 {
        transform: translate(-6em, -2em) !important;
        background-color: gray !important;
        height: 60px;
        width: 80px;
        position: absolute;
    }
    
    .dprt2 {
        transform: translate(-6em, -2em) !important;
        background-color: gray !important;
        height: 60px;
        width: 80px;
        position: absolute;
    }
    .dprt3 {
        transform: translate(-6em, -2em) !important;
        background-color: gray !important;
        height: 60px;
        width: 80px;
        position: absolute;
    }
    .dpr-text{
        margin-top: 40px;
    }
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: slategrey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }