<h2 class="p-2 mt-3 text-center" style="color: lightslategray; font-weight: 500;">Bank Departments</h2>

<div id="carousel-example" class="carousel slide p-0 m-0" data-ride="carousel">
    <div class="carousel-inner row" role="listbox"
        style="column-gap: 20px !important; padding-bottom: 10px !important;">
        <div class="z-depth-5 text-center box-1 carousel-item col-md active">
            <button class="z-depth-5 btn-secondary dprt3 pt-2" routerLink="hr">
                <i class="fas fa-user-cog"></i>

            </button>
            <h5 class="text-secondary dpr-text">Human Resources</h5>
        </div>
        <div class="z-depth-5 text-center box-1 carousel-item col-md">
            <button class="z-depth-5  btn-secondary dprt1" routerLink="it"><i class="fas fa-laptop-house"></i></button>
            <h5 class="text-secondary dpr-text">Information Technology</h5>
        </div>
        <div class="z-depth-5 text-center box-1 carousel-item col-md">
            <button class="z-depth-5 p-3 btn-secondary dprt2" routerLink="quality">
                <i class="fas fa-diagnoses"></i> </button>
            <h5 class="text-secondary dpr-text">Quality</h5>
        </div>
        <div class="z-depth-5 text-center box-1 carousel-item col-md">
            <button class="z-depth-5 btn-secondary dprt3" routerLink="complaint">
                <i class="fas fa-user-cog"></i>
            </button>
            <h5 class="text-secondary dpr-text">Compliant</h5>
        </div>
        <div class="z-depth-5 text-center box-1 carousel-item col-md">
            <button class="z-depth-5 btn-secondary dprt3" routerLink="credit-card">
                <i class="fas fa-user-cog"></i>
            </button>
            <h5 class="text-secondary dpr-text">Credit Card</h5>
        </div>
        <div class="z-depth-5 text-center box-1 carousel-item col-md">
            <button class="z-depth-5 btn-secondary dprt3" routerLink="collection">
                <i class="fas fa-user-cog"></i>
            </button>
            <h5 class="text-secondary dpr-text">Collection</h5>
        </div>
        <div class="z-depth-5 text-center box-1 carousel-item col-md">
            <button class="z-depth-5 btn-secondary dprt3" routerLink="loanDepart">
                <i class="fas fa-user-cog"></i>
            </button>
            <h5 class="text-secondary dpr-text">Laon</h5>
        </div>

    </div>
    <a class="carousel-control-prev text-secondary" href="#carousel-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: slategray !important;"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next text-secondary" href="#carousel-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon  text-secondary" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<router-outlet></router-outlet>