<h2 class="p-2 mt-3 text-center" style="color: lightslategray; font-weight: 500;">Bank Departments</h2>

<div class="row m-0 p-0 pl-3" style="column-gap: 20px !important;">

    <div class="col-md z-depth-5 text-center box-1">
        <button class="z-depth-5 btn-secondary dprt" onclick = "displaynone()" routerLink="hr"><i class="fas fa-address-card"></i></button>
        <h5 class="text-secondary dpr-text">Human Resources</h5>
    </div>

    <div class="col-md z-depth-5  text-center box-1">

        <button class="z-depth-5  btn-secondary dprt1"onclick = "displaynone()" routerLink="it"><i class="fas fa-laptop-house"></i></button>
        <h5 class="text-secondary dpr-text">Information Technology</h5>
    </div>

    <div class="col-md z-depth-5  text-center box-1">
        <button class="z-depth-5  btn-secondary dprt2"onclick = "displaynone()" routerLink="quality">
            <i class="fas fa-diagnoses"></i>        </button>
        <h5 class="text-secondary dpr-text">Quality</h5>


    </div>

    <div class="col-md z-depth-5 text-center box-1">
        <button class="z-depth-5 btn-secondary dprt3" onclick = "displaynone()" routerLink="complaint">
            <i class="fas fa-user-cog"></i>
        </button>
        <h5 class="text-secondary dpr-text">Compliant</h5>
    </div>


</div>
<table class="table table-hover tbl mt-5 pt-5" id="hide-me">

    <thead class="p-5">
       <tr>
           <th scope="col">#</th>
           <th scope="col">First Name</th>
           <th scope="col">Last Name</th>
           <th scope="col">Department</th>
       </tr>
   </thead>
   <tbody class="p-5">
       <tr>
           <th scope="row">1</th>
           <td>Ashraf</td>
           <td>Aslam</td>
           <td>HR</td>
       </tr>
       <tr>
        <th scope="row">1</th>
        <td>Tayyab</td>
        <td>Ordogan</td>
        <td>IT</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Fatima </td>
        <td>Hassan</td>
        <td>Quality</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Sheikh </td>
        <td>Farzaib</td>
        <td>Complaint</td>
    </tr>
   </tbody>
</table>
<router-outlet></router-outlet>