<h2 class="p-3 mt-3 text-center" style="color: lightslategray; font-weight: 500;">Bank Customers</h2>
<div class="row p-3 mt-2 border m-0">
    <div class="col-md all-border mt-5 mb-5 ml-4 mr-4 m-0 p-0" routerLink="addcustomer" style="max-width: 350px;">

        <mat-icon aria-hidden="false" class="fieldIcons">person_add</mat-icon>
        <button  class="save1 ">Add Customers</button>


    </div>


    <div routerLink="viewcustomer" class="col-md all-border m-5 p-0 m-0" style="max-width: 350px;">

        <mat-icon aria-hidden="false" class="fieldIcons">group</mat-icon>
        <button  class="save1">View Customers</button>


    </div>

</div>

<router-outlet></router-outlet>