<div class="row row-me text-center">
    <h1 class="p-3 pb-5 mt-3 m-auto text-center" style="color: lightslategray; font-weight: 500;">Bank Notification
        Generator</h1>
</div>
<div class="container p-5">
    <div class="row p-5">
        <div class="col-lg-10">
            <mat-form-field appearance="fill">
                <mat-label>Subject</mat-label>
                <input matInput #input>
            </mat-form-field>
        </div>
        <div class="col-lg-10">

            <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <div class="col-lg-6"><button class="btn-account">Send Notification</button></div>
        <div class="col-lg-4"><button class="btn-account float-right">Cancel</button></div>
    </div>
</div>