<table class="table table-hover tbl mt-5 pt-5" >

     <thead class="p-5">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody class="p-5">
        <tr>
            <th scope="row">1</th>
            <td>Ashraf</td>
            <td>Aslam</td>
            <td>HR</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Muhib</td>
            <td>Siddique</td>
            <td>Hr</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Solomon</td>
            <td>Zindani</td>
            <td>HR</td>
        </tr>
    </tbody>
</table>