<h2 class="p-3 mt-3 text-center" style="color: lightslategray; font-weight: 500;">Bank Employees</h2>
<div class="row p-3 mt-2 border m-0">
    <div  routerLink="add" class="col-md all-border mt-5 mb-5 ml-4 mr-4 m-0 p-0" style="max-width: 350px;">

        <mat-icon aria-hidden="false" class="fieldIcons">person_add</mat-icon>
        <button class="premuim-btn ">Add Employees</button>


    </div>


    <div routerLink="view" class="col-md all-border m-5 p-0 m-0" style="max-width: 350px;">

        <mat-icon aria-hidden="false" class="fieldIcons">group</mat-icon>
        <button  class="premuim-btn">View Employees</button>


    </div>

</div>

<router-outlet></router-outlet>