<h2 class="p-3 mt-3 text-center" style="color: lightslategray; font-weight: 500;">Bank Employees</h2>
<div class="row p-3 mt-2 border m-0">
   
    <div class="col-md hover-only btn-ripple m-5 p-0 m-0" routerLink="add">


        <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->

        <button class="cl"><i class="clr-icon fas fa-plus"></i>
            &nbsp;&nbsp;Add Account</button>

    </div>
    <div class="col-md hover-only btn-ripple m-5 p-0 m-0" routerLink="view">


        <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->

        <button class="cl"><i class="clr-icon fas fa-eye"></i>
            &nbsp;&nbsp;View Account</button>

    </div>
  

</div>

<router-outlet></router-outlet>