<div class="container-fluid">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong style="color: black">Accounts Management</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section id="model_6" class="">
                <div class="tabs-container">
                    <ul class="nav nav-tabs container-fluid" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home6" role="tab"
                                aria-controls="home" aria-selected="true"><i class="fas fa-landmark "></i> ACCOUNTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile6" role="tab"
                                aria-controls="profile" aria-selected="false"><i class="fas fa-landmark"></i> TDR</a>
                        </li>

                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane  show active" id="home6" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-5 m-0 ">
                            <div class="card-header">
                                <div class="card-title">My Accounts</div>
                            </div>
                            Hello
                        </div>
                        <div class="col-md-5 m-0 ">
                            <div class="card-header">
                                <div class="card-title ">Mini Statement</div>
                            </div>
                            Hello
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="profile6" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-header">
                                <div class="card-title">TDR</div>
                            </div>
                            Hello
                        </div>
                        <div class="col-md-5">
                            <div class="card-header">
                                <div class="card-title">TDR</div>
                            </div>
                            Hello
                        </div>
                    </div>
                    
                </div>
                

            </div>
        </div>



    </div>

</div>


