<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h5><strong style="color: black;">Accounts List</strong></h5>
    </div>
</div>
    
<div class="container-fluid">
    <div class="table-responsive" style="border-radius: 15px;" >
    
        <table id="myTable" class="table table-hover" >
            
            <thead class="card-header m-0 p-0" style="border-radius: 10px; background-color: #59d8c7; ">
                <tr>
                    <th scope="col">Account Number</th>
                    <th scope="col">Account Type</th>
                    <th scope="col">Available Balance</th>
                    <th scope="col">Account Nick</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                
                
                <tr>
                    <td>4456612334511233</td>
                    <td>Current</td>
                    <td>55000</td>
                    <td>4456612334511233/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    <br>
    <br>
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h5><strong style="color: black;">TDR</strong></h5>
        </div>
    </div>
    <div class="table-responsive" style="border-radius: 15px;">
    
        <table id="mySecondTable" class="table table-hover">
            
            <thead class="card-header" style="border-radius: 10px; background-color: #59d8c7; ">
                <tr>
                    <th scope="col">Account Number</th>
                    <th scope="col">Account Type</th>
                    <th scope="col">Available Balance</th>
                    <th scope="col">Account Nick</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">ACTIVE</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">ACTIVE</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-danger">INACTIVE</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                <tr>
                    <td>4456655697522113</td>
                    <td>Current</td>
                    <td>35000</td>
                    <td>4456655697522113/Farzaib</td>
                    <td>PKR</td>
                    <td class="text-success">Active</td>
                </tr>
                
            </tbody>
        </table>
    
    </div>
</div>