


::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: whitesmoke !important;
  border-bottom: 2px solid slategrey !important;
  color: slategrey !important;
  
}

.container-fluid {
  background-image: url(../../assets/images/3.jpg);
  width: 100%;
  height: 100%;
  background-size: auto auto;
  background-position: top center;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.container-fluid, .row {
  background-color: transparent !important;
}

#btn-1 {
  background-color: slategrey !important;
  border-radius: 50px !important;
  height: 50px !important;
  width: 300px !important;
}

#btn-1:hover, button:hover {
  background-color: white !important;
}

#f-p:hover {
  color: lightgray !important;
}

.row {
  width: 100% !important;
}

.dropdown-item {
  color: lightgray !important;
}

.row-media {
  display: none;
}

@media only screen and (max-width:890px) {
  .row-media {
    display: block;
  }
  .main-row-media {
    display: none !important;
  }
}

.mat-form-field {
  overflow: hidden;
  margin-top: 16px;
  width: 80%;
  outline: none !important;
  border: none !important;
  padding-bottom: 5px;
}

.mat-form-field:focus, mat-input:focus, input:focus {
  border: none !important;
  outline: none !important;
  border-color: slategrey !important;
}

.mat-input, input {
  width: 100% !important;
  padding: 5px !important;
  color: slategrey !important;
}

mat-label {
  color: slategrey !important;
  text-align: center !important;
  min-width: 100% !important;
  width: 100% !important;
  /* padding: 10em; */
}

.mat-icon {
  transform: translate(-1em, -1em);
  font-size: 30px !important;
  color: skyblue;
  cursor: pointer;
  position: absolute;
}

a, h3 {
  color: slategray !important;
}

mat-hint {
  color: lightslategray !important;
}

.toggle-me {
  display: none;
}

@media screen and (max-width:992px) {
  .toggle-me {
    display: block;
  }
}