<mat-stepper #stepper>
    <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">

        <mat-step linear>
            <ng-template matStepLabel>Personal Information</ng-template>
            <div class="row">

                <input type="hidden" name="ID" [value]="service.formData.id">

                <div class="form-group col-md-6">
                    <div class="col-md">


                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            perm_identity
                        </mat-icon>
                    </div>
                    <div class="col-md">


                        <input placeholder="FirstName" name="firstName" class="form-control" #firstName="ngModel"
                            [(ngModel)]="service.formData.firstName" required maxlength="16" minlength="3"
                            [class.invalid]="firstName.invalid && firstName.touched">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">


                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            persons
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="lastName" placeholder="LastName" class="form-control" #lastName="ngModel"
                            [(ngModel)]="service.formData.lastName" required maxlength="16" minlength="3"
                            [class.invalid]="lastName.invalid && lastName.touched">
                    </div>
                </div>
                <br><br><br>
                <div class="form-group col-md-6">
                    <div class="col-md">


                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            assignment
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="address" placeholder="Address" class="form-control" #address="ngModel"
                            [(ngModel)]="service.formData.address" required maxlength="450" minlength="2"
                            [class.invalid]="address.invalid && address.touched">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">


                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            perm_contact_calenda
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="contact" placeholder="Contact" class="form-control" #contact="ngModel"
                            [(ngModel)]="service.formData.contact" required maxlength="16" minlength="2"
                            [class.invalid]="contact.invalid && contact.touched">
                    </div>
                </div>
                <br><br><br>
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            calendar_today
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="dob" type="date" placeholder="BirthDate" class="form-control" #dob="ngModel"
                            [(ngModel)]="service.formData.dob" required maxlength="16" minlength="2"
                            [class.invalid]="dob.invalid && dob.touched">
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">wc
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <mat-radio-group name="gender" class="fieldIcons" #gender="ngModel"
                            [(ngModel)]="service.formData.gender" required maxlength="16" minlength="2"
                            [class.invalid]="gender.invalid && gender.touched">

                            <mat-radio-button color="warn" [value]="true">Male</mat-radio-button>
                            <mat-radio-button color="warn" [value]="false">Female</mat-radio-button>

                        </mat-radio-group>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="col-md hover-only p-0 m-0 float-left">
                        <button class="cl-back" mat-button matStepperPrevious><i class="clr-icon fas fa-arrow-left"></i>
                            &nbsp;&nbsp;Back</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md hover-only p-0 m-0 float-right">
                        <button class="cl" mat-button matStepperNext><i
                                class="clr-icon fas fa-arrow-right"></i>&nbsp;&nbsp;Next</button>
                    </div>
                </div>


            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Professional Information</ng-template>
            <div class="row">

                <div class="form-group col-md-6">
                    <div class="col-md">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">library_books
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <mat-select placeholder="Qualification" id="" name="qualificationId" class="form-control"
                            #qualificationId="ngModel" [(ngModel)]="service.formData.qualificationId" required
                            maxlength="16" minlength="2"
                            [class.invalid]="qualificationId.invalid && qualificationId.touched">

                            <mat-option [value]="qualification.inter">Intermediate</mat-option>
                            <mat-option [value]="qualification.graduate">Graduate</mat-option>
                            <mat-option [value]="qualification.masters">Masters</mat-option>
                            <mat-option [value]="qualification.phd">PHD</mat-option>
                        </mat-select>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon class="fieldIcons">location_city</mat-icon>
                    </div>
                    <div class="col-md">

                        <mat-select placeholder="Departments" name="departmentId" class="form-control"
                            #departmentId="ngModel" [(ngModel)]="service.formData.departmentId" required maxlength="16"
                            minlength="2" [class.invalid]="departmentId.invalid && departmentId.touched">

                            <mat-option [value]="department.Hr">Hr</mat-option>
                            <mat-option [value]="department.Collection">Collection</mat-option>
                            <mat-option [value]="department.Quality">Quality</mat-option>
                            <mat-option [value]="department.Complaint">Complaint</mat-option>
                            <mat-option [value]="department.iT">Information Technology</mat-option>
                            <mat-option [value]="department.Loan">Loan</mat-option>
                            <mat-option [value]="department.CreditCard">Credit Card</mat-option>
                            
                        </mat-select>
                    </div>
                </div>
                <br><br><br>
                <div class="form-group col-md-6">
                    <div class="col-md">
                        <mat-icon class="fieldIcons"> attach_money</mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="salary" placeholder="Salary" class="form-control" #salary="ngModel"
                            [(ngModel)]="service.formData.salary" required maxlength="16" minlength="2"
                            [class.invalid]="salary.invalid && salary.touched">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon class="fieldIcons">language</mat-icon>
                    </div>
                    <div class="col-md">


                        <mat-select placeholder="City" class="form-control" name="cityId" #cityId="ngModel"
                            [(ngModel)]="service.formData.cityId" required maxlength="16" minlength="2"
                            [class.invalid]="cityId.invalid && cityId.touched">


                            <mat-option [value]="city.karachi">Karachi</mat-option>
                            <mat-option [value]="city.lahore">Lahore</mat-option>
                            <mat-option [value]="city.islamabad">Islamabad</mat-option>
                            <mat-option [value]="city.faisalabad">Faisalabad</mat-option>
                        </mat-select>

                    </div>

                </div>
                <div class="col-md-6">

                    <div class="col-md hover-only p-0 m-0 float-left">
                        <button class="cl-back" mat-button matStepperPrevious><i class="clr-icon fas fa-arrow-left"></i>
                            &nbsp;&nbsp;Back</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md hover-only p-0 m-0 float-right">
                        <button class="cl" mat-button matStepperNext><i
                                class="clr-icon fas fa-arrow-right"></i>&nbsp;&nbsp;Next</button>
                    </div>
                </div>
            </div>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Accounts Information</ng-template>
            <div class="col-md hover-only p-0 m-0">
                <button class="cl-back" mat-button matStepperPrevious><i class="clr-icon fas fa-arrow-left"></i>
                    &nbsp;&nbsp;Back</button>
            </div>
            <div class="row pt-5">
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon class="fieldIcons">email</mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="email" type="email" placeholder="UserName" class="form-control" #email="ngModel"
                            [(ngModel)]="service.formData.email" required maxlength="100" minlength="2"
                            [class.invalid]="email.invalid && email.touched">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon class="fieldIcons">security</mat-icon>
                    </div>
                    <div class="col-md">

                        <input name="password" type="password" placeholder="Password" class="form-control"
                            #password="ngModel" [(ngModel)]="service.formData.password" required maxlength="16"
                            minlength="2" [class.invalid]="password.invalid && password.touched">
                    </div>
                </div>

            </div>
            <div class="form-group text-center p-5">
                <button class="btn btn-info btn-lg text-white" type="Submit" [disabled]="form.invalid"
                    (click)="form.ngSubmit.emit()">Submit</button>
            </div>
        </mat-step>

    </form>
</mat-stepper>