
.mat-form-field {
    margin-top: 16px;
    width: 100%;
  }
.row{
  padding-top: 20px;
}
mat-icon{
    position: absolute;
    margin-left :-40px;
    color: skyblue;
    font-size: 30px;
    margin-top: 5px;

}
mat-label{
    font-weight: 500;
    color: grey;
}
input,mat-select{
  background-color: transparent !important;
  background: transparent !important;
  color: lightslategray !important;
  
}
/* .mat-radio-group{
    position: absolute;
    transform: translateY(1.5em);
  
    padding: 50px; 
} */


.mat-radio-button{
color: slategray;
font-weight: 500;
  margin-left: 10px; 
}

mat-stepper{
    border: 1px solid rgb(206, 209, 212);
    margin-top: 20px;
    background-color: whitesmoke !important;
    padding: 50px;
}




img{
    min-height: 202px !important;
    min-width: 200px !important;
    border: 1px solid gray;
    padding: 10px;
}
#img{
    margin-left: -5px;
    font-size: 40px;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: slategrey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }
  .hover-only:hover .cl {
    color: white;
    padding-left: 65px;
    background-color: transparent !important;
  }
  
  .hover-only:hover .clr-icon {
    color: white;
  }
  
  .hover-only {
    box-shadow: 0 10px 10px 0px rgba(109, 132, 141, 0.205), 0 10px 10px 0px rgba(121, 142, 146, 0.185);
    transition: 0.30s ease;
    width: 300px !important;
    max-width: 300px !important;
    height: 53px !important;
    padding: 0px !important;
  }
  
  .hover-only:hover {
    color: white !important;
    background-color: skyblue;
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.075), 0 40px 77px 0 rgba(0, 0, 0, 0.082);
  }
  
  .clr-icon {
    font-size: 22px;
    color: skyblue;
    transition: .1s;
  }
  
  .cl,.cl-back {
    background-color: transparent !important;
    border: none;
    color: slategray;
    transition: .3s linear !important;
    width: 100% !important;
    font-size: 20px;
    font-weight: 500;
    padding-right: 60px;
    outline: none !important;
    height: 100% !important;
  }
  .hover-only:hover .cl-back {
    color: white;
    padding-right: 110px;
    background-color: transparent !important;
  }
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }
  
  thead th{
    font-weight: 400;
  }
  
  table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }
  
  /*for invalid form controls*/
  input.invalid {
    border-color: red;
  }
  label{
    padding-left: 5px;
    
  }
  