<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h5><strong style="color: black;">Change Your Password</strong></h5>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <div class="card-title" id="pDetails">Password Change Form</div>
            </div>
            
                <div class="card-body">
                    <form action="">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="card-title m-0">Old Password</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="align-middle"
                                                data-feather="lock"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Old Password"
                                        aria-label="Username" aria-describedby="basic-addon1" 
                                        >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-title m-0">New Password</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="align-middle"
                                                data-feather="lock"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="New Password"
                                        aria-label="Username" aria-describedby="basic-addon1" 
                                        >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-7">
                                <div class="card-title m-0">Confirm Password</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="align-middle"
                                                data-feather="lock"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Username"
                                        aria-describedby="basic-addon1"  >
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card-title m-0">Save</div>
                                <button class="btn" type="submit"><i class="align-bottom" data-feather="save"></i> Save
                                    Password</button>
                            </div>
                        </div>
                    </form>
                </div>
           

        </div>
    </div>
</div>