<table class="table table-hover tbl mt-5 pt-5" >

     <thead class="p-5">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
     <tbody class="p-5">
        <tr>
            <th scope="row">1</th>
            <td>Muhhamad</td>
            <td>ALi</td>
            <td>Quality</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Fatima </td>
            <td>Hassan</td>
            <td>Quality</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Noor</td>
            <td>Hussain</td>
            <td>Quality</td>
        </tr>
    </tbody>
</table>