<mat-stepper #stepper>
    <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
        <mat-step linear>

            <ng-template matStepLabel>Personal Information</ng-template>
            <div class="row">
                <input type="hidden" name="id" [value]="service.customer.id">

                <div class="form-group col-md-6">
                    <div class="col-md">


                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            perm_identity
                        </mat-icon>
                    </div>
                    <div class="col-md">



                        <input placeholder="First name" name="firstName" class="form-control" #firstName="ngModel"
                            [(ngModel)]="service.customer.firstName" required maxlength="16" minlength="3"
                            [class.invalid]="firstName.invalid && firstName.touched">
                    </div>
                </div>




                <div class="form-group col-md-6">
                    <div class="col-md">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon" id="person">
                            person</mat-icon>



                    </div>
                    <div class="col-md">


                        <input placeholder="Last Name" name="lastName" class="form-control" #lastName="ngModel"
                            [(ngModel)]="service.customer.lastName" required maxlength="16" minlength="3"
                            [class.invalid]="lastName.invalid && lastName.touched">
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">
                            contacts
                        </mat-icon>
                    </div>
                    <div class="col-md">


                        <input placeholder="Contact" name="contact" class="form-control" #contact="ngModel"
                            [(ngModel)]="service.customer.contact" required maxlength="16" minlength="3"
                            [class.invalid]="contact.invalid && contact.touched">

                    </div>
                </div>





                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">date_range
                        </mat-icon>

                    </div>
                    <div class="col-md">


                        <input placeholder="Date Of Birth" type="datetime-local" name="dob" class="form-control" #dob="ngModel"
                            [(ngModel)]="service.customer.dob" required
                            [class.invalid]="dob.invalid && dob.touched">

                    </div>

                </div>



                <div class="form-group col-md-6">

                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">perm_identity
                        </mat-icon>

                    </div>

                    <div class="col-md">


                        <input placeholder="Age" name="age" class="form-control" #age="ngModel"
                            [(ngModel)]="service.customer.age" required maxlength="3" minlength="2"
                            [class.invalid]="age.invalid && age.touched">

                    </div>

                </div>
                <div class="form-group col-md-6">

                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">fingerprint
                        </mat-icon>

                    </div>

                    <div class="col-md">

                        <input placeholder="Nic" name="nic" class="form-control" #nic="ngModel"
                            [(ngModel)]="service.customer.nic" required maxlength="13" minlength="13"
                            [class.invalid]="nic.invalid && nic.touched">

                    </div>

                </div>

                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">email
                        </mat-icon>

                    </div>
                    <div class="col-md">


                        <input placeholder="Email" name="email" class="form-control" #email="ngModel"
                            [(ngModel)]="service.customer.email" required maxlength="100" minlength="3"
                            [class.invalid]="email.invalid && email.touched">
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">security
                        </mat-icon>
                    </div>

                    <div class="col-md">

                        <input type="password" placeholder="Password" name="password" class="form-control"
                            #password="ngModel" [(ngModel)]="service.customer.password" required maxlength="100"
                            minlength="3" [class.invalid]="password.invalid && password.touched">
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">
                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">wc
                        </mat-icon>
                    </div>
                    <div class="col-md">

                        <mat-radio-group name="gender" class="fieldIcons" #gender="ngModel"
                            [(ngModel)]="service.formData.gender" required maxlength="16" minlength="2"
                            [class.invalid]="gender.invalid && gender.touched">

                            <mat-radio-button color="warn" [value]="true">Male</mat-radio-button>
                            <mat-radio-button color="warn" [value]="false">Female</mat-radio-button>

                        </mat-radio-group>
                    </div>

                </div>

                <div class="col-md hover-only p-0 m-0 float-right">
                    <button class="cl" mat-button matStepperNext><i class="clr-icon fas fa-arrow-right"></i>
                        &nbsp;&nbsp;Next</button>
                </div>
            </div>



        </mat-step>



        <mat-step>





            <ng-template matStepLabel>Professional Information</ng-template>
            <div class="row p-5">
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">work_outline
                        </mat-icon>
                    </div>

                    <div class="col-md">

                        <input placeholder="Occupation" name="occupation" class="form-control" #occupation="ngModel"
                            [(ngModel)]="service.customer.occupation" required maxlength="16" minlength="3"
                            [class.invalid]="occupation.invalid && occupation.touched">
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">account_circle
                        </mat-icon>
                    </div>

                    <div class="col-md">

                        <mat-select placeholder="Account" name="accountId" class="form-control" #accountId="ngModel"
                            [(ngModel)]="service.customer.accountId" required maxlength="16" minlength="3"
                            [class.invalid]="accountId.invalid && accountId.touched">

                            <mat-option [value]="account.current">Current Account</mat-option>
                            <mat-option [value]="account.saving">Saving Account</mat-option>
                            <mat-option [value]="account.td">Term Deposit</mat-option>
                            <mat-option [value]="account.fcyAccount">Fcy Account</mat-option>

                        </mat-select>
                    </div>

                </div>

          



                <div class="col-md hover-only p-0 m-0">
                    <button class="cl" mat-button matStepperNext><i class="clr-icon fas fa-arrow-right"></i>
                        &nbsp;&nbsp;Next</button>
                </div>

            </div>

        </mat-step>


        <mat-step>
            <ng-template matStepLabel>Residential Information</ng-template>

            <div class="row">

                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">location_on
                        </mat-icon>
                    </div>

                    <div class="col-md">

                        <mat-select placeholder="City" name="cityId" class="form-control" #cityId="ngModel"
                            [(ngModel)]="service.customer.cityId" required maxlength="16" minlength="3"
                            [class.invalid]="cityId.invalid && cityId.touched">

                            <mat-option [value]="city.karachi">Karachi</mat-option>
                            <mat-option [value]="city.lahore">Lahore</mat-option>
                            <mat-option [value]="city.islamabad">Islamabad</mat-option>
                            <mat-option [value]="city.faisalabad">Faisalabad</mat-option>
                            <mat-option [value]="city.muree">Muree</mat-option>
                            <mat-option [value]="city.rawalpindi">Rawalpindi</mat-option>
                        </mat-select>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon">business
                        </mat-icon>
                    </div>

                    <div class="col-md">

                        <input placeholder="Address" name="address" class="form-control" #address="ngModel"
                            [(ngModel)]="service.customer.address" required maxlength="100" minlength="10"
                            [class.invalid]="address.invalid && address.touched">
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="col-md">

                        <mat-icon aria-hidden="false" class="fieldIcons" aria-label="Example home icon"> alternate_email
                        </mat-icon>
                    </div>

                    <div class="col-md">

                        <input placeholder="Alternate Address (Optional)" name="alternateAddress" class="form-control"
                            #alternateAddress="ngModel" [(ngModel)]="service.customer.alternateAddress" required
                            maxlength="100" minlength="10"
                            [class.invalid]="alternateAddress.invalid && alternateAddress.touched">
                    </div>

                </div>
            </div>


            <div class="form-group text-center p-5">
                <button class="btn btn-info btn-lg text-white" type="Submit" [disabled]="form.invalid"
                    (click)="form.ngSubmit.emit()">Submit</button>
            </div>

            <button class="btn btn-secondary" (click)="resetform(form)"> Reset</button>
        </mat-step>
       
    </form>

   
</mat-stepper>