

<table class="table table-hover tbl mt-5 pt-5" >

    <thead class="p-5">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody class="p-5">
        <tr>
            <th scope="row">1</th>
            <td>Shaikh</td>
            <td>Madyan</td>
            <td>Complaint</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sheikh </td>
            <td>Farzaib</td>
            <td>Complaint</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Wahaj</td>
            <td>Ahmed</td>
            <td>Complaint</td>
        </tr>
    </tbody>
</table>
