
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-my-home></app-my-home> -->
<!-- <app-account-list></app-account-list> -->
<!-- <app-admin-dashboard></app-admin-dashboard>    -->
<!-- <router-outlet></router-outlet> -->

<app-dashboard></app-dashboard>
<!-- <app-account-management></app-account-management> -->
<!-- <app-account-list></app-account-list> -->
<!-- <app-admin-dashboard></app-admin-dashboard>    -->
<!-- <app-welcome></app-welcome> -->


<!-- <app-login-form></app-login-form> -->


    <!-- <router-outlet></router-outlet> -->
    <!-- <department></department> -->

