table {
  width: 100% !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* =====table-div====== */

.scroll, .mat-elevation-z8 {
  overflow: auto !important;
  white-space: nowrap !important;
}

/* ===== */
th:nth-child(1){
  transform: translateX(-10px);
}
td:nth-child(1),th:nth-child(1) {
  min-width: 5% !important;
  width: 5% !important;
  color: lightslategray;
  font-size: 15px;
}

td:nth-child(2),th:nth-child(2) {
  min-width: 15% !important;
  width: 15% !important;
  color: lightslategray;
  font-size: 15px;
}

td:nth-child(3),th:nth-child(3) {

  min-width: 5% !important;
  width: 10% !important;
  color: lightslategray;
  font-size: 15px;
}

td:nth-child(4),th:nth-child(4) {
  min-width: 5% !important;
  width: 15% !important;
  color: lightslategray;
  font-size: 15px;
}


td:nth-child(5),th:nth-child(5) {
  
  min-width: 5% !important;
  width: 18% !important;
  font-size: 15px;
  color: lightslategray;

}

td:nth-child(6),th:nth-child(6) {
  min-width: 5% !important;
  width: 10% !important;
  color: lightslategray;
  font-size: 15px;
}

td:nth-child(7),th:nth-child(7) {
  min-width: 10% !important;
  width: 10%;
  font-size: 15px;
}
td{
  text-align: center;
  padding: 0px 10px 0px 10px !important;
}
th{
  color: rgb(86, 103, 119) !important;
  text-align: center !important;
box-sizing: border-box !important;
}




button {
  color: skyblue
}

mat-label {
  padding-left: 20px;
  font-size: 20px;
  color: lightslategray;
}
/* ===================================== */

