<div class="row ml-0 pt-5 pb-5 pl-4 c-gap-1">

  <div class="col-md z-depth-5 p-0 brdr-left">
    <div class="col-md text-right">
      <div class="btn btn-large btn-muted">
        <i class="icon-size pt-2 fas fa-align-left"></i>
      </div>
    </div>

    <div class="col-md d-flex  m-0">

      <div class="col-md p-0 m-0 pt-2"><i class="icon-size fas fa-building"></i></div>

      <div class="col-md text-right h2 text-secondary">7</div>

    </div>

    <div class="col-md h5 text-secondary text-right pb-1 border-top">
      Department
    </div>

  </div>

  <div class="col-md z-depth-5 p-0 brdr-left">
    <div class="col-md text-right">
      <div class="btn btn-large btn-muted">
        <i class="icon-size pt-2 fas fa-align-left"></i>
      </div>
    </div>

    <div class="col-md d-flex  m-0 ">

      <div class="col-md p-0 m-0 pt-2"><i class="icon-size fas fa-user-friends"></i></div>

      <div class="col-md text-right h2 text-secondary">7</div>

    </div>

    <div class="col-md h5 text-secondary text-right pb-1 border-top">
      Employees
    </div>

  </div>
  <div class="col-md z-depth-5 p-0 brdr-left">
    <div class="col-md text-right">
      <div class="btn btn-large btn-muted">
        <i class="icon-size pt-2 fas fa-align-left"></i>
      </div>
    </div>

    <div class="col-md d-flex  m-0 ">

      <div class="col-md p-0 m-0 pt-2"><i class="icon-size fas fa-users"></i></div>

      <div class="col-md text-right h2 text-secondary">7</div>

    </div>

    <div class="col-md h5 text-secondary text-right pb-1 border-top">
      Customers
    </div>

  </div>
  <div class="col-md z-depth-5 p-0 brdr-left">
    <div class="col-md text-right">
      <div class="btn btn-large btn-muted">
        <i class="icon-size pt-2 fas fa-align-left"></i>
      </div>
    </div>

    <div class="col-md d-flex  m-0">

      <div class="col-md m-0 p-0 pt-2"><i class="icon-size fas fa-envelope-open-text"></i></div>

      <div class="col-md text-right h2 text-secondary">7</div>

    </div>

    <div class="col-md h5 text-secondary text-right pb-1 border-top">
      Complaints
    </div>

  </div>

</div>



<div class="row">

  <div class="col-md">
    <canvas id="myChart"></canvas>
    <!-- <canvas id="myChart" width="400" height="400"></canvas> -->

  </div>
  <div class="col-md">
    <canvas id="myChart1"></canvas>
  </div>




</div>
<div class="row d-row p-0">

  <div class="col-md pt-2" id="chart-div">
    <canvas id="myChart2" width="400" height="400"></canvas>
  </div>
  <div class="col-md" style=" height: 350px; max-width: 600px; min-width: 400px; overflow-y: auto;">

    <div class="h4 text-secondary">
      Newly Added Customers
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/6.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-6 h6 p-0 pl-3 text-secondary pt-3">Shaikh Madyan <br>
        <sup style="font-size: 12px; font-weight: 500;"> madyanshaikh@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i></div>
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/1.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-7 h6 p-0 pl-3 text-secondary pt-3">Khabib Narmagomedov<br>
        <sup style="font-size: 12px; font-weight: 500"> KhabibNarmagomedov@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i></div>
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/2.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-6 h6 p-0 pl-3 text-secondary pt-3">Muhammad Ali <br>
        <sup style="font-size: 12px; font-weight: 500"> MuhammadAli@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i></div>
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/3.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-6 h6 p-0 pl-3 text-secondary pt-3">Abdul Malik <br>
        <sup style="font-size: 12px; font-weight: 500"> Abdul Malik@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i></div>
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/4.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-6 h6 p-0 pl-3 text-secondary pt-3">Talha Anjum<br>
        <sup style="font-size: 12px; font-weight: 500"> TalhaAnjum@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i></div>
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/5.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-6 h6 p-0 pl-3 text-secondary pt-3">Mike Tyson <br>
        <sup style="font-size: 12px; font-weight: 500"> MikeTyson@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i></div>
    </div>
    <div class="col-md-12 d-flex border  p-0">
      <div class="col-md-2 pl-1 pt-1 p-0">
        <img class="rounded-circle p-1" src="../../assets/images/6.jpg" alt="" style="width: 60px;height: 60px; ">
      </div>

      <div class="col-md-6 h6 p-0 pl-3 text-secondary pt-3">Tom Cavangh<br>
        <sup style="font-size: 12px; font-weight: 500"> TomCavangh@gmail.com</sup>
      </div>
      <div class="col-md h6 text-secondary p-0 pr-3 pt-3 text-right">View <i class="fas fa-eye"></i>
      </div>
    </div>


  </div>

  <div class="col-md border pt-5 p-0">
    <canvas id="myChart3" width="400" height="200"></canvas>
  </div>
</div>