<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h5><strong style="color: black;">My Profile</strong></h5>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <div class="card-title"></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="standard">
                        <mat-label>Input</mat-label>
                        <input matInput #input required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Input</mat-label>
                            <input matInput>
                          </mat-form-field>
                    </div>
                    <div class="col-md-8"><mat-form-field appearance="fill">
                        <mat-label>Input</mat-label>
                        <input matInput>
                      </mat-form-field></div>
                    <div class="col-md-4">
                        <div class="form-outline mb-4 md-form">
                        <input type="email" id="form1Example1" class="form-control" />
                        <label class="form-label" for="form1Example1">Email address</label>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>