strong {
    font-weight: 600;
    font-size: 1.3rem;
}
.mat-form-field{

    width: 100%;
    background: none!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0, 0, 0, 0)!important;
}