<div class="container-fluid" id="mybg">
    <div class="row" id="brand">
        <div class="col-md-12" id="brand">
            <a class="nav-brand" href=""><img class="img-fluid" src="assets/images/logo.png" alt=""></a>
        </div>
    </div>
    <div class="container">
        <div class="row" id="welcome">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h1 class="announce">Welcome</h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h3>To</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" id="bankingMedia">
                        <h1>Online Banking</h1>
                    </div>

                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="col-md-12 d-flex justify-content-center"><button class="btn" routerLink="Login-Option">Let's
                        Start</button></div>
            </div>
        </div>

        <div class="row mt-5 ">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>








</div>