*{
    outline: none !important;
}

.nav-brand{
  height: 200px;
  width: 200px;
}


#mybg {
  background-image: url(../../assets/images/WelcomBg.jpg),url(../../assets/images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-blend-mode:screen;
  
}
.btn{
outline: none!important;
border: none!important;
background: linear-gradient(to right,#5ed7cb,	skyblue);
border-radius: 10px;
font-size: 1.5rem;
animation: btnAni 3s infinite;
}
.btn:focus{
  border: none!important;
  box-shadow: none;
}


@keyframes btnAni{
  0%{
    width: 150px;
  }
  50%{
    width: 250px;
  }
  100%{
    width: 150px;
  }
}

.fas{
  padding: 10px;
  font-size: 6rem;
}
.card-title{
  font-size: 2.5rem;
  font-weight: 400;
}
.card{
  padding-top: 20px;
  margin: 30px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  animation: cardAni 3s infinite;
}

#user{
  background: #59d8c7;
}
#admin{
  background: skyblue;
}
.announce,h1,.bank{
  font-size: 5rem;
  font-weight: 300;
}
h3{
  font-size: 3rem;
  font-weight: 400;
}
#welcome{
  margin-top: -50px;
}
.card:hover{
  color: white;
}

/* @media only screen and (max-width: 570px) {
  #bankingMedia{
    margin: 0;
    padding-left: 50px;
  } 
} */
@media only screen and (max-width: 570px) {
  #brand,#bankingMedia{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    text-align: center!important;
  } 
}