<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h5><strong style="color: black;">Card List</strong></h5>
    </div>
</div>
<div class="table-responsive" style="border-radius: 15px;">

    <table id="myTable" class="table table-hover">

        <thead class="card-header" style="border-radius: 10px; background-color: rgb(116, 184, 184); ">
            <tr>
                <th scope="col">Card Number</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Product</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>


            <tr>
                <td><input class="m-auto" style="border: none;" type="password" value="1211321" readonly></td>
                <td>Customer Name</td>
                <td>Debit</td>
                <td>6/2022</td>
                <td><img style="height: 30px; width: 35px;" src="https://img.icons8.com/color/48/000000/mastercard.png"/></td>
                <td>Active</td>
            </tr>
            <tr>
                <td><input  style="border: none;" type="password" value="1211321" readonly></td>
                <td>Customer Name</td>
                <td>Credit</td>
                <td>8/2024</td>
                <td><img style="height: 30px; width: 35px;" src="https://img.icons8.com/color-glass/48/000000/visa.png"/></td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>

</div>