th{
    color: white;
    padding: 10px 20px 7px 20px!important;
    
}
td{
    color: black;
    font-weight: 400;
}

strong {
    font-weight: 600;
}
thead{
    border: none;
    position: relative;
    
}