<div class="row">

    <div class="col-md-2 nv-color p-0">
        <div class="col-md-12 pt-5">
            <a class="h1 nav-link text-secondary pl-4" href="">Muslim Bank</a>
        </div>
        <div class="col-md-12 p-2 text-center">
            <img class="rounded-circle ml-auto" src="../../assets/images/2.jpg" alt=""
                style="width: 100px;height:100px;">

        </div>
        <div class="col-md-12 text-center pt-3 pb-5 ">
            <h4 class="nav-link h5 text-secondary font-weight-bold">Admin <span
                    class="navbar-toggler pt-2 p-0 text-secondary fas fa-angle-down btn-toggle" data-toggle="collapse"
                    data-target="#adminmenu"></span></h4>


            <div class="collapse" id="adminmenu">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link text-secondary font-weight-bold cl">Profile</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link text-secondary font-weight-bold cl">Log Out</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link text-secondary font-weight-bold cl">Settings</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-12">
            <div class="h5 pl-4" style="color: goldenrod; font-weight: 500;">General</div>
        </div>
        <div class="col-md-12 d-flex hover-only">
           
            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"><i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="sidebar-content js-simplebar pl-5" id="dashboardmenu">
                    <ul class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                        <li class="sidebar-item"><a href="#" class="sidebar-link small">Dashboard d</a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link small">Dashboard d1</a></li>
                        <li class="sidebar-item"><a href="#" class="sidebar-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu" (click)="rotate()" [@rotatedState]='state'></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu1"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu2">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu2"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu3">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu3"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu4">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu4"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu5">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu5"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu6">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu6"></span>


            </div>
        </div>
        <div class="col-md-12">
            <div class="h5 pl-4 pt-2 pb-2" style="color: goldenrod; font-weight: 500;">Live on</div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu7">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu7"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu8">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu8"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu9">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu9"></span>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only">

            <div class="col-md-10 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-home"></i>
                    &nbsp;&nbsp;Home</a>
                <div class="collapse pl-5" id="dashboardmenu10">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link small">Dashboard d2</a></li>
                    </ul>
                </div>
                <!-- --------------------Home ------------- toggle-------------------Ends--------------- -->
            </div>
            <div class="col-md-2 pt-4 flip">
                <span type="span" class="navbar-toggler fas fa-angle-down btn-toggle1" data-toggle="collapse"
                    data-target="#dashboardmenu10"></span>


            </div>
        </div>
    </div>
    <div class="col-md-10 p-0">
        <nav class="navbar nv-color">


            <li class="nav-link dropdown ml-auto h6 p-0">

                <a class="nav-link dropdown-toggle p-0 text-secondary check h6" href="#" id="navbarDropdownMenuLink"
                    role="span" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                        class="rounded-circle" src="../../assets/images/2.jpg" alt=""
                        style="width: 50px;height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp; Admin
                </a>
                <div class="dropdown-menu bg-light " aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Sign out</a>
                    <a class="dropdown-item" href="#">Settings</a>
                </div>
            </li>


        </nav>
    </div>
</div>