<div class="row m-0">
    <nav class="navbar p-0 navbar-dark col-md-12 nv-color">
        <div class="brand">
            <a class="h3 pt-3 pl-5 nav-link text-light" href="">Muslim Bank</a>
        </div>
        <div class="ml-5 pl-1">
            <a class="nav-link bars" href=""><i class="fad fa-bars" style="font-size: 30px;"></i></a> 
        </div>
        <ul class="nav-link dropdown ml-auto p-0 pr-5">

            <li class="dropdown-toggle nav-link p-0 font-weight-bold" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: lightgrey;">
                <img class="rounded-circle p-1" src="../../assets/images/6.jpg" alt="" style="width: 50px;height: 50px; ">&nbsp;&nbsp;&nbsp;&nbsp;Admin
            </li>

            <div class="dropdown-menu bg-light " aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Sign out</a>
                <a class="dropdown-item" href="#">Settings</a>
            </div>
        </ul>


    </nav>
</div>

<div class="row p-0 mt-0">

    <div class="col-md-2 main-toggle pt-2 nv-color p-0 pl-1">
        
        <div class="col-md-12 p-2 text-center">
            <img class="rounded-circle ml-auto" src="../../assets/images/6.jpg" alt=""
                style="width: 100px;height:100px;">
        </div>
        <div class="col-md-12 text-center">
          <p class=" col-md-12 font-weight-bold p-0" style="color: orange;" >Admin</p>
            <h6 class="col-md-12 p-0 font-weight-bold pb-3" style="color: lightgrey;">Shaikh Madyan</h6>

        </div>
        <div class="col-md-12 pt-5">
            <div class="h5 pl-4" style="color: lightgrey; font-weight: 500;">GENERAL</div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"><i class="fas fa-home"></i>
                    &nbsp;&nbsp;Dashboard</a>
            </div>

        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle2-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-user-friends"></i>
                    &nbsp;&nbsp;Employees</a>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle3-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-building"></i>
                    &nbsp;&nbsp;Department</a>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-users"></i>
                    &nbsp;&nbsp;Customers</a>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-code-branch fas fa-sitemap"></i>
                    &nbsp;&nbsp;Branch</a>



            </div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-chart-bar"></i>
                    &nbsp;&nbsp;Accounts</a>


            </div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-money-check-alt"></i>
                    &nbsp;&nbsp;Revenue</a>


            </div>
        </div>
        <div class="col-md-12">
            <div class="h5 pl-4 pt-2 pb-2" style="color: lightgrey; font-weight: 500;">FEATURES</div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"><i class="fas fa-bell-plus"></i>
                    &nbsp;&nbsp; Generate Notification</a>


            </div>


        </div>

        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"><i class="fas fa-hand-holding-usd"></i>
                    &nbsp;&nbsp;Loan</a>



            </div>
        </div>
        <div class="col-md-12 d-flex hover-only btn-ripple">

            <div class="col-md-12 p-0">
                <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->
                <a href="" class="h6 nav-link pt-4 pb-3 text-secondary cl"> <i class="fas fa-tools"></i>
                    &nbsp;&nbsp;Settings</a>



            </div>
        </div>
    </div>
   
</div>
