<div class="wrapper">
    <nav id="sidebar" class="sidebar" >
        <div class="sidebar-content js-simplebar ml-2 mt-2 " id="sideBarContent" style="border-radius: 25px; background-color: #f7f7f7;">
            <a class="sidebar-brand pt-0 pb-0" routerLink="user-dashboard" >
                <span class="align-middle"><img src="assets/images/logo.png" alt="" class="img-fluid" id="mainLogo"></span>
            </a>

            <ul class="sidebar-nav" id="mainList">
                <li class="sidebar-header text-dark">
                    General
                </li>

                <li class="sidebar-item active" id="myHome">
                    <a class="sidebar-link" routerLink="Home">
                        <i class="align-items" data-feather="home"></i> <span class="align-middle">Home</span>
                    </a>
                </li>

                <li class="sidebar-item" id="myAcc">
                    <a href="#HL" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">My Accounts</span>
                    </a>
                    <ul id="HL" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Account-List">Account List</a></li>
                    </ul>
                </li>

                <li class="sidebar-item" id="myCard">
                    <a href="#CL" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">My Cards</span>
                    </a>
                    <ul id="CL" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Card-List">Card List</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Credit-Card-Payment">Cradit Card Payment</a></li>
                    </ul>
                </li>

                <li class="sidebar-item" id="myTrans">
                    <a href="#Trans" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="navigation"></i> <span class="align-middle">Transfers</span>
                    </a>
                    <ul id="Trans" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Fund-Transfer">Fund Transfer</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Inter-Bank-Fund-Transfer">InterBank Fund Tranfser</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Transfer-Beneficiary-Management">Fund Beneficiary</a></li>
                    </ul>
                </li>

                <li class="sidebar-item" id="myPay">
                    <a href="#Pay" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="info"></i> <span class="align-middle">Payments</span>
                    </a>
                    <ul id="Pay" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Bill-Payment">Bill Payments</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="Beneficiary-Management">Bill Beneficiary</a></li>
                    </ul>
                </li>

                <li class="sidebar-item" id="myServ">
                    <a href="#SR" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="mail"></i> <span class="align-middle">Service Request</span>
                    </a>
                    <ul id="SR" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="E-Statement-Request">E-Statement Request</a></li> 
                    </ul>
                </li>
                
                <li class="sidebar-item" id="mySet">
                    <a data-target="#Set" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
                    </a>
                    <ul id="Set" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" routerLink="My-Profile">My Profile</a></li>
                    </ul>
                </li>
            </ul>


        </div>
    </nav>

    <div class="main">
        <nav class="navbar navbar-expand  navbar-bg m-2" style="border-radius: 20px; background-color: #f7f7f7;">
            <a class="sidebar-toggle d-flex">
                <i class="hamburger align-self-center"></i>
            </a>

            <form class="form-inline d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn" type="button">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle"  id="alertsDropdown" data-toggle="dropdown">
                            <div class="position-relative">
                                <i class="align-middle" data-feather="bell"></i>
                                <span class="indicator" style="background-color: skyblue;">4</span>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0"
                            aria-labelledby="alertsDropdown">
                            <div class="dropdown-menu-header">
                                4 New Notifications
                            </div>
                            <div class="list-group">
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="text-danger" data-feather="alert-circle"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">Your Security</div>
                                            <div class="text-muted small mt-1">Restart server 12 to complete the
                                                update.</div>
                                            <div class="text-muted small mt-1">30m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="text-warning" data-feather="bell"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">Password Protection</div>
                                            <div class="text-muted small mt-1">Your Password Should Be Unique</div>
                                            <div class="text-muted small mt-1">2h ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="text-primary" data-feather="home"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">Your Login Address</div>
                                            <div class="text-muted small mt-1">5h ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <i class="text-success" data-feather="user-plus"></i>
                                        </div>
                                        <div class="col-10">
                                            <div class="text-dark">Loan Alert</div>
                                            <div class="text-muted small mt-1">Information About Loan
                                            </div>
                                            <div class="text-muted small mt-1">14h ago</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-menu-footer">
                                <a  class="text-muted">Show all notifications</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle"  id="messagesDropdown" data-toggle="dropdown">
                            <div class="position-relative">
                                <i class="align-middle" data-feather="message-square"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0"
                            aria-labelledby="messagesDropdown">
                            <div class="dropdown-menu-header">
                                <div class="position-relative">
                                    4 New Messages
                                </div>
                            </div>
                            <div class="list-group">
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            
                                                 <img src="../../assets/images/user-dashboard.png" alt="" class="avatar img-fluid rounded-circle">
                                        </div>
                                        <div class="col-10 pl-2">
                                            <div class="text-dark">Sir Subhan</div>
                                            <div class="text-muted small mt-1">This is for Temporary Check
                                                </div>
                                            <div class="text-muted small mt-1">15m ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <img src="img"
                                                class="avatar img-fluid rounded-circle" >
                                        </div>
                                        <div class="col-10 pl-2">
                                            <div class="text-dark">Shaikh Madyan</div>
                                            <div class="text-muted small mt-1">This Is For Tamporary Check
                                                </div>
                                            <div class="text-muted small mt-1">2h ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <img src="img"
                                                class="avatar img-fluid rounded-circle" >
                                        </div>
                                        <div class="col-10 pl-2">
                                            <div class="text-dark">Muslim Bank</div>
                                            <div class="text-muted small mt-1">Welcome To Our Online Banking
                                            </div>
                                            <div class="text-muted small mt-1">4h ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a  class="list-group-item">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-2">
                                            <img src="img"
                                                class="avatar img-fluid rounded-circle" >
                                        </div>
                                        <div class="col-10 pl-2">
                                            <div class="text-dark">Security Alert</div>
                                            <div class="text-muted small mt-1">Ye karlo Bhai Secure Hojaoge
                                                </div>
                                            <div class="text-muted small mt-1">5h ago</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-menu-footer">
                                <a  class="text-muted">Show all messages</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" 
                            data-toggle="dropdown">
                            <i class="align-middle" data-feather="more-vertical"></i>
                        </a>

                        <a class="nav-link dropdown d-none d-sm-inline-block" 
                            data-toggle="dropdown">
                            <img src="../../assets/images/user-dashboard.png" class="avatar img-fluid rounded mr-1"
                                 /> <span class="text-dark">Sheikh Farzaib <i class="align-middle" data-feather="more-vertical"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" routerLink="My-Profile"><i class="align-middle mr-1"
                                    data-feather="user"></i> Profile</a>
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="newClick();"><i class="align-middle mr-1"
                                    data-feather="settings"></i> Settings & Privacy</a>
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" (click)="btnClick();"><i class="align-middle mr-1 " data-feather="log-out"></i> LOG OUT</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <router-outlet></router-outlet> -->
        <!-- <app-change-password></app-change-password> -->
        <!-- <app-account-management></app-account-management> -->
        <!-- <app-card-list></app-card-list> -->
        <!-- <app-credit-card-payment></app-credit-card-payment> -->
        <!-- <app-beneficiary-management></app-beneficiary-management> -->
        <main class="content mr-2 ml-2" style="border-radius: 25px; background-color: #f7f7f7; "><router-outlet></router-outlet></main>

        <footer class="footer mt-2 mr-2 ml-2 mb-2" style="border-radius: 15px; background-color: #f7f7f7;">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-left">
                        <p class="mb-0">
                            <a class="text-muted"><strong>Muslim Bank</strong></a> &copy;
                        </p>
                    </div>
                    <div class="col-6 text-right">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="text-muted" >Support</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" >Help Center</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" >Privacy</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted" >Terms</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
