<h1 class="p-3 pb-5 mt-3 text-center" style="color: lightslategray; font-weight: 500; border-bottom:2px solid lightgray ;">Bank Revenue</h1>

<div class="row m-0 p-5">
    <div class="col-lg hover">
        <div class="col-lg text-center"><i class="fas fa-dollar icon-lg"></i></div>
        <div class="col-lg h4 text-center txt check-1 p-3"> Total Capital</div>
        <div class="col-lg text-center txt h5 check-2 p-3"> Balance Invested By Bank</div>
        <div class="col-lg h3 text-center txt p-0"> <i class="fas fa-dollar"> </i> 4,000,000 PKR</div>
    </div>
    <div class="col-lg hover">
        <div class="col-lg text-center"><i class="fas fa-group icon-lg"></i></div>
        <div class="col-lg h4 text-center txt check-1 p-3"> Total Liability</div>
        <div class="col-lg text-center txt h5 check-2 p-3"> Balance Invested By Customer</div>
        <div class="col-lg h3 text-center txt p-0"> <i class="fas fa-dollar"> </i> 85,000,000 PKR</div>
    </div>
    <div class="col-lg hover">
        <div class="col-lg text-center"><i class="fas fa-bank icon-lg"></i></div>
        <div class="col-lg h4 text-center txt check-1 p-3">Central Bank Reservation</div>
        <div class="col-lg text-center txt h5 check-2 p-3">The Balance reserved at Central Bank</div>
        <div class="col-lg h3 text-center txt p-0"><i class="fas fa-dollar"> </i> 14,000,000 PKR</div>
    </div>
</div>
