<h2 class="p-3 mt-3 text-center" style="color: lightslategray; font-weight: 500;">Bank Branches</h2>

<div class="row p-3 mt-2 border m-0">
   
   
    <div class="col-md hover-only btn-ripple m-5 p-0 m-0 ml-auto"mat-button (click)="openDialog()">


        <!-- --------------------Home ------------- toggle1-------------------starts--------------- -->

        <button class="cl"><i class="far fa-plus-square clr-icon"></i>
            &nbsp;&nbsp;Add Branch</button>

    </div>
  

</div>


<mat-form-field appearance="standard" class="pl-5 pr-5">

    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input class="pb-3">
  
  </mat-form-field>
  
  <div class="mat-elevation-z8 scroll">
  
    <table mat-table [dataSource]="service.data" matSort>
  
      <!-- ID Column -->
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Branch Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}} </td>
      </ng-container>
  
  
      <!-- Name Column -->
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Branch Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <!-- Fruit Column -->
  
      <ng-container matColumnDef="cityid">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let row"> 
          <div *ngIf="row.cityId == 1001">Karachi</div>  
          <div *ngIf="row.cityId == 1006">Lahore</div>  
          <div *ngIf="row.cityId == 1011">Islamabad</div>  
          <div *ngIf="row.cityId == 1021">Faisalabad</div>  
          <div *ngIf="row.cityId == 6021">Muree</div>  
          <div *ngIf="row.cityId == 6026">Rawalpindi</div>  
        </td>
      </ng-container>
  
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef >Contact</th>
        <td mat-cell *matCellDef="let row">{{row.contact}}</td>
      </ng-container>
      
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef >Address</th>
        <td mat-cell *matCellDef="let row">{{row.address}}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef  id="action">Action</th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-button>
              <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
          </button>
          <button mat-button>
              <mat-icon aria-hidden="false" aria-label="Example home icon"(click)="updateBranches(row)" mat-button (click)="openDialog()">edit</mat-icon>
          </button>
          <button mat-button color="warn" >
              <mat-icon aria-hidden="false" aria-label="Example home icon"(click)="onDeletes(row.id)">delete</mat-icon>
          </button>
      </td> 
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
  
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>



  