table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,th {
  
    width: 270px;
   
    
  }
  th{
      font-size: 17px;
      font-weight: 500;
  }
  td{
    color: lightslategray;
    font-size:15px;
    font-weight: 500;
  }
  #action{
        padding-left: 5em;
        
  }
  button{
      color:skyblue
  }
  mat-label{
      padding-left: 20px;
      font-size: 20px;
      color: lightslategray;
  }
  #add-b{
      outline: none;
  }

  .save1 {
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
    border: none;
    color: slategray;
    width: 100% !important;
    max-width: 100% !important;
    transition: 0.50s ease;
    outline: none;

}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: slategrey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }
#add-icon {
 cursor: pointer;
    transition: 0.50s ease;
    color: skyblue;
    position: absolute;
    padding-top: 10px;
    padding-left: 60px;
    text-align: center;
    width: 50px;
    height: 55px;
    font-size: 30px;
}

.all-border:hover .save1 {
    padding-left: 30px !important;
    color: whitesmoke;
    background-color: skyblue;
}

.all-border:hover #add-icon {
    color: white;
}

.all-border {
    box-shadow: 0 10px 10px 0px rgba(109, 132, 141, 0.205),0 10px 10px 0px rgba(121, 142, 146, 0.185);
    /* border: 1px solid rgb(139, 150, 161); */
    transition: 0.50s ease;
    background-color: skyblue;
}

.all-border:hover {
    padding-left: 30px !important;
    /* background-color: skyblue; */
    border: none;
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
